form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding: 20px;
    color: black;
    }

body{
    background-color: beige;
}

form h2 {
    margin-bottom: 30px;
    font-size: 200%;
}

form label {
    margin-bottom: 10px;
}
input {
    width: 300px;
}

main h2 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    background-color: orange;
}
button {
    font-size: large;
}