.foto_tarjeta {
    background-image: url(../Multimedia/Image/espaguetis_con_verduras.webp);
    width: 500px;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: block;
    margin: auto;
    border: 5px orange solid;
    border-radius: 5px;
}

body {
    max-width: 100vw;
}

.categorias ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.categorias {
    margin-top: 2%;
}

h3 {
    padding: 1%;
    background-color: orange;
    font-size: larger;
}

article li {
    display: flex;
    flex-direction: row;

}

article ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

main h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 30px;
    text-align: center;
    background-color: orange;
    width: 100%;
}

main h2 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
    padding: 20px;
    background-color: orange;
}


p {
    padding: 1%;
    text-align: justify;
}

.tips {
    margin: 10px;
}

.tarjeta_receta ul {
    padding: 2%;
    text-align: justify;
}

footer ul {
    padding: 0%;
}

button {
    width: 150px;
    font-size: larger;
}


@media screen and (min-width:769px) and (max-width:1440px) {
    nav i {
        font-size: 20px;
        color: white;
    }

    nav {
        width: 100%;
        height: 10vh;
    }

    body {
        max-width: 100vw;
        max-height: 1000vh;
    }

    .foto_tarjeta {
        width: 600px;
        height: 500px;
    }

    main h1 {
        padding: 0%;
        width: 100%;
    }

}

@media screen and (min-width:391px) and (max-width:768px) {
    .foto_tarjeta {
        width: 400px;
        height: 300px;
    }

    main h1 {
        padding: 0%;
        width: 100%;
    }
}

@media screen and (max-width:667px) {

    button {
        width: 90px;
        font-size: 8px;
    }

    .foto_tarjeta {
        width: 250px;
        height: 150px;
    }

    main h1 {
        padding: 0%;
        width: 100%;
        font-size: x-large;
    }

    .categorias ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav i {
        font-size: 10px;
        color: white;
    }

    nav li {
        font-size: 5%;
    }

    header {
        height: 5%;
    }
}